
          
                  

                      
                   
               
 
          
         

  
          
          
         
          
         

     
          
          

         {% extends 'poll/base.html' %}

         {% load static %}
         
         {% block content %}
         
         <style>
           .flex-container {
             padding: 0;
             margin: 0;
             list-style: none;
             display: flex;
             background-color: red;
             width:100%
           }
           
           .flex-start { 
             justify-content: flex-start; 
           }
         </style> 
         <body style="background-color: #f4f4f4;">
         
         <section style="background-color: #eee; margin-top: 20px; margin-left: 200px;">

            <div class="row">
           
                <div class="card text-black">
                  <img src={{product.p_photo.url}}
                    class="card-img-top" alt="iPhone" />
                  <div class="card-body">
                    <div class="text-center mt-1">
                      <h4 class="card-title">{{product.p_title}}</h4>
                      <h6 class="text-primary mb-1 pb-3">{{product.p_price}} T</h6>
                    </div>
        
                    <div class="text-center">
                      <div class="p-3 mx-n3 mb-4" style="background-color: #eff1f2;">
                        <h5 class="mb-0">Сharacteristic</h5>
                      </div> 
                      <div class="d-flex flex-column mb-4">
                        <span class="h1 mb-0">{{product.p_year}}</span>
                      </div>
        
                     {% if product.cat == 'watch'%}
                    
                      <div class="d-flex flex-column mb-4">
                        <span class="h1 mb-0">
                          <i class="fa fa-camera"></i>
                        </span>
                        <ul class="list-unstyled mb-0">
                          <li aria-hidden="true">—</li>
                          <li>Charge: {{product.p_charge}}</li>
                          <li aria-hidden="true">—</li>
                        </ul>
                      </div>
                      <div class="p-3 mx-n3 mb-4" style="background-color: #eff1f2;">
                        <h5 class="mb-0">Display: </h5>
                        <h8 class="mb-0">{{product.p_display}}</h8>
                      </div>
                      {% elif product.cat == 'pencil'%}
                      <div class="d-flex flex-column mb-4">
                        <span>Color: {{product.p_display}}</span>
                      </div>
        
                      <div class="d-flex flex-column mb-4">
                        <span class="h1 mb-0">
                          <i class="fa fa-camera"></i>
                        </span>
                        <ul class="list-unstyled mb-0">
                          <li aria-hidden="true">—</li>
                          <li>Charge: {{product.p_charge}}</li>
                          <li aria-hidden="true">—</li>
                        </ul>
                      </div>
                    
                      {% elif product.cat == 'airpods'%}
                      <div class="d-flex flex-column mb-4">
                        <span>Color: {{product.p_display}}</span>
                      </div>
                    
                      <div class="d-flex flex-column mb-4">
                        <span class="h1 mb-0">
                          <i class="fa fa-camera"></i>
                        </span>
                        <ul class="list-unstyled mb-0">
                          <li aria-hidden="true">—</li>
                          <li>Charge: {{product.p_diagonal}}</li>
                          <li>Type: {{product.p_diagonal}}</li>
                          <li aria-hidden="true">—</li>
                        </ul>
                      </div>
                      {% elif product.cat == 'iphone'%}
                     
                      <div class="p-3 mx-n3 mb-4" style="background-color: #eff1f2;">
                        <h5 class="mb-0">Capacity: </h5>
                        <h8 class="mb-0">{{product.p_capacity}}</h8>
                      </div>
        
        
                      <div class="d-flex flex-column mb-4">
                        <span class="h1 mb-0">
                          <i class="fa fa-camera"></i>
                        </span>
                        <ul class="list-unstyled mb-0">
                          <li aria-hidden="true">—</li>
                          <li>Display: {{product.p_display}}</li>
                          <li>Charge: {{product.p_charge}}</li>
                          <li>Diagonal: {{product.p_diagonal}}</li>
                          <li aria-hidden="true">—</li>
                        </ul>
                      </div>
                      {% elif product.cat == 'macbook'%}
                
                      <div class="p-3 mx-n3 mb-4" style="background-color: #eff1f2;">
                        <h5 class="mb-0">Capacity: </h5>
                        <h8 class="mb-0">{{product.p_capacity}}</h8>
                      </div>
        
        
                      <div class="d-flex flex-column mb-4">
                        <span class="h1 mb-0">
                          <i class="fa fa-camera"></i>
                        </span>
                        <ul class="list-unstyled mb-0">
                          <li aria-hidden="true">—</li>
                          <li>Display: {{product.p_display}}</li>
                          <li>Charge: {{product.p_charge}}</li>
                          <li>Diagonal: {{product.p_diagonal}}</li>
                          <li aria-hidden="true">—</li>
                        </ul>
                      </div>
                      {% endif %}
        
                    
                    </div>
        
                    <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark" style="margin-left: 40px"><a   href="{% url 'add-to-cart' product.slug %}" style=" color:black; text-decoration: none; ">Add to Cart</a> </button>
                    <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark"><a href="{% url "user_wishlist" product.id  %}"  style="color:black; text-decoration: none " >Add to Wish</a></button>
            
                  </div>
                </div>
              </div>
             
              {% if object.author == user %}
              <div class="d-flex flex-row">
                <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark">   <a  href="{% url 'product-update' object.id %}">Update</a></button>
                <button type="button" class="btn btn-danger flex-fill ms-1">  <a   href="{% url 'product-delete' object.id %}">Delete</a></button>
              </div>
            </div>
            {% else %}
            <div class="designed-by">
            </div>
               {% endif %}
                
               
        </section>
               
            
    
         
                  
                   <main class="pt-5">
                     <div class="container">
                       <h1 class="h5">Shopping basket {{request.session.cart|length}}</h1>
                        {% for key,value in request.session.cart.items %}
                       <div data-index="{{product.id}}" class="row mb-4 border product-item">
                         <div class="col-md-3 col-lg-2 order-md-first bg-light">
                           
                         </div>
                         
         
                         <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                           <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                             <h1 class="h5 pt-2">{{value.p_title}}</h1>
                           </a>
                           <div class="border">
                             <div class="col border-bottom">
                               <div class="row p-3">
                                 <div class="col-6">Price:</div>
                                 <div class="col-6 text-end"><span class="h6 fw-bold">{{value.p_price}} T</span></div>
                               </div>
                             </div>
                             <div class="col">
                               <div class="row p-3">
                                 <div class="col-12">
                                   
                                   <button type="button" id="update-button" data-index="{{product.id}}"
                                     class="btn btn-outline-secondary btn-sm update-button">
                                     Buy Now
                                   </button>
                                   <button type="button" id="delete-button"
                                     class="btn btn-outline-secondary btn-sm delete-button"> <a   href="{% url 'item_clear' product.id %}">
                                     Delete</a>
                                   </button>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                       {% endfor %}
                       
                       <div class="col-12 text-end">
                         <div class="h6 fw-bold"><div id="subtotal" class="d-inline-flex"></div></div>
                       </div>
                     </div>
                   </main>
                  
         
           
                   
            
                  
                   
            
                   
                  </body>  
                  {% endblock content %}             
         
       